 @media (max-width: 645px) and (orientation : landscape){
 
 * {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
	
body {
width: 85%;
height: 85%;
 margin: 0;
padding: 0;
}

#englobe {
max-width: 85%;
max-height: 85%;
text-align: center;

}
	  
 #video {
 position:absolute; 
  left:0;
  top: 0;
 display:none;
 }
 
 #baseCanvas {
  width: 50%; 
  height: 40%;
  position:absolute;
  bottom:0; 
  left:0;
  border: solid 1px black;
  }
  
  #containerLeftEye {
  width:80%; 
  height: 35%;/*au lieu de 50%*/
  position:absolute;
  top:0;
  left:0;
   display: inline-block;
  border: solid 1px black;
  background: green;
  }
  
  #containerRightEye {
  width: 80%;
  height: 35%;
  /*au lieu de 50%*/
  position:absolute;
  top:0;
  right:0;
  display: inline-block;
  border: solid 1px black;
  background: green;
  }
  }